/** {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}*/

:root{
    --var1: 1rem;
}

html {
    font-size: 62.5%;   
}

body {
    background-color: #838892;
    width: 900px;
    font-size: 1.6rem;
    margin: 0 auto;
}

/*Geneal styles*/


/*Header styles*/

header {
    background-color: white;
    padding: 25px 0px 0px 15px;
    display: flex;
    align-items: end;
}

nav {
    background-color: #5BBDBF;
    height: 50px;
    width: 75%;
}

nav ul {
    display: flex;
    padding-inline-start: 0px;
    height: 66%;
}

nav ul li {
    height: 100%;
    width: 100px;
    list-style: none;
}

nav li a {
    text-decoration: none;
    color: #c0d5c2;
    padding: 0 10px;
    border-left: 2px solid black;
    font-size: 1.8rem;
    height: 100%;
    display: inline-block;
}

ul li:first-child a {
    border-left: none;
}

ul li:hover .submenu{
    display: block;
}

.submenu {
    display: none;
    position: relative;
    bottom: -1px;
    background-color: green;
}

li .submenu div {
    margin: 0px 0px 10px 0px;
}

li .submenu div a span {
    opacity: 0;
}

li .submenu div a {
    border: none;
    font-size: 1.4rem;
}

li .submenu div a:hover {
    color: yellow;
}

li .submenu div a:hover span {
    opacity: 1;
}

/* Main */

main {
    display: flex;
}

article#colo2 {
    width: 60%;
    background-color: #ccc;
}

aside {
    width: 35%;
    margin-left: 5%;
    background-color: #ccc;
}


h2 {
    font-family: 'Croissant One';
    text-align: center;
    background-color: turquoise;
}

h2#titre-amis {
    background-color: tomato;
}

h3 {
    background-color: tomato;
    border: 1px solid #ccc;
}

h3#titre-sport, h3#titre-vingt {
    background-color: turquoise;
}

p {
    margin: 30px 0px;
}

span {
    color: red;
}

strong {
    font-style: italic;
    font-weight: 300;
}

/* Padding aux titres*/

section h2,
div h3 {
    padding: 10px 0px;
}



/*chuck-jeune img*/
img.chuck-jeune {
    height: 150px;
    float: left;
    margin: 0px 7px 7px 0px;
}

/*séparer les paragraphes des images*/
.paragrapheAseparer {
    clear: both;
}

img.chuck-Beware {
    width: 400px;
    float: right;
}

/*Styles to Table*/

table#table {
    overflow-x: scroll;
    white-space: nowrap;
    border-spacing: 0px;
    display: block;
}
table#table th:first-child,
table#table td:first-child {
    position: sticky;
    left: 0;
    border-right: 1px solid #000; 
}

table#table th:first-child {
    z-index: 1;
    background-color: #00AAFF;
}

thead  {
    background-color: #00AAFF;
}

table span.skill  {
    color: #640051;
    padding: 0px 5px;
}

tbody tr:nth-child(2) td,
tbody tr:nth-child(4) td,
tbody tr:nth-child(6) td{
    background-color: #ccc;
}

tbody tr:nth-child(1) td, 
tbody tr:nth-child(3) td,
tbody tr:nth-child(5) td,
tbody tr:nth-child(7) td{
    background-color: white;
}

tbody tr:nth-child(1) td:nth-child(2) {
    text-align: center;
}

/* Icons position*/

#iconSocial {
    position: fixed;
    right: 15px;
    top: 95%;
}